@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --color-brand-bg: #f9f9f9;
  --color-brand-dark: #121212;
  --color-brand-muted: #555555;
  --color-brand-accent: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-dark);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
}